.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
}

.popup_type_avatar,
.popup__content{
  min-height: auto;
}

.profile__avatar_icon_edit{
  content: "";
  display: block;
  background-image: url(../../../images/pencil.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  opacity: 0;
}

.profile__avatar_icon_edit:hover{
  opacity: 100%;
}